#canvas {
  background-color: #4E5180;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height:100%;
}

#root {
  z-index: 1;
  background-color: grey;
  opacity: 0.4;
  width:85vw;
  min-height:10000px;
  margin:auto;
  
}
